@import "./variables.scss";

@import '~material-design-icons/iconfont/material-icons.css';
@import '~typeface-roboto/index.css';

body {
    margin: 0%;
}


.ui-box {
    background-color: $box-color;
    box-shadow: 0 0 10px 0px #00000044;
    border-radius: 5px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

@keyframes rotation {
    from {
            transform: rotate(359deg);
    }
    to {
            transform: rotate(0deg);
    }
}